# Python
venv/
__pycache__/
*.py[cod]
*.sqlite3
*.log
.env
.env.*

# Django
*.pot
*.pyc
*.pyo
db.sqlite3
/media/
staticfiles/
*.mo
scraper/logs/

# Scraper output
json

# Vs code
/.vscode

# Frontend
.next/
next-env.d.ts
node_modules
